{% extends "layout.html" %}

{% block title %}Buy{% endblock %}

{% block main %}

    <form action="/buy" method="POST">
        <div class="form-group">
            <input type="text" name="symbol" placeholder="Symbol e.g. NFLX">
        </div>
        <div class="form-group">
            <input type="number" step="0.01" name="shares" placeholder="number of shares">
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Buy</button>
        </div>
    </form>

{% endblock %}