{% extends "layout.html" %}

{% block title %}Sell{% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <div class="form-group">
            <Select name="symbol" class="form-control">
                <option disabled selected>Symbol</option>
                {% for stock in portfolio %}
                    <option value={{ stock["symbol"] }}>{{ stock["symbol"] }}</option>
                {% endfor %}
            </Select>
        </div>
        <div class="form-group">
            <input type="number" name="shares" class="form-control" placeholder="number of shares" min="0">
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>

{% endblock %}